* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.heading img {
    width: 350px;
}


/* .half-width {
    width: 40%;
    padding-left: 3%;
    margin-left: 5%;
    float: left;
}

.half-width h1 {
    margin-top: 80px;
} */

.img1 {
    width: 100%;
}

.color-highlight {
    color: orange;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(36, 36, 87);
}

h2 {
    font-size: 40px;
    color: rgb(36, 36, 87);
    font-weight: bolder;
}

h3 {
    font-size: 30px;
    color: rgb(36, 36, 87);
    font-weight: bolder;
}

h4 {
    font-size: 20px;
    color: rgb(36, 36, 87);
    font-weight: bolder;
}

section {
    min-height: 600px;
    margin-bottom: 100px;
}

.link-button img {
    height: 30px;
    width: 30px;
    padding-left: 10px;
}

.link-button {
    height: 50px;
    width: 140px;
    align-items: center;
    display: flex;
    background-color: #9ab337;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}

.panda-card-footer {
    border: none;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: rgb(252, 251, 251);
}

.panda-border-none {
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(102, 95, 95);
}

.images img {
    width: 50%;
    /* margin-left: 50px; */
}

.article {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.image img {
    width: 100%;
}

.radius {
    border-radius: 15px;
    background-color: rgb(240, 217, 221);
}

.hover1:hover {
    box-shadow: 20px 20px 50px red;
    transition: 2s ease;
}

.hover2:hover {
    box-shadow: 20px 20px 50px #f0b22e;
    transition: 2s ease;
}

.hover3:hover {
    box-shadow: 10px 10px 50px #e29817;
    transition: 2s ease;
}

.hover4:hover {
    box-shadow: 20px 20px 50px #3d404d;
    transition: 2s ease;
}

.hover5:hover {
    box-shadow: 10px 10px 50px #4c1a26;
    transition: 2s ease;
}

.hover6:hover {
    box-shadow: 10px 10px 50px#f0cd55;
    transition: 2s ease;
}

.button1:hover {
    box-shadow: 10px 10px 20px grey;
    transition: 2s ease;
}

@media (max-width:576px) {
    .image {
        display: block;
    }
    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

ul li:hover {
    background-color: rgb(211, 241, 156);
    transition: 2s ease;
    font-size: 20px;
}